.post-type-absolute_swiper .absoluteSwiperSettingsSection {
    box-sizing: border-box;
    position: relative;
    margin: 0;
    border: 0;
    background: #fcfcfc;
    width: 100%;
    display: table;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection h1 {
    font-size: 30px;
    margin: 0;
    padding: 0;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tabSec {
    display: none;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tabSec h3 {
    border-bottom: 1px solid #eeeeee;
    padding: 10px 15px;
    margin: 0;
    font-size: 14px;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content table {
    width: 100%;
    border: 0;
    border-collapse: collapse;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content table tr:nth-child(even) td {
    background: #ffffff;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content table td {
    width: 20%;
    padding: 10px 15px;
    border-bottom: 1px solid #eeeeee;
    min-width: 130px;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content table td ul {
    margin-bottom: 0;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content table td+td {
    width: 80%;
    border-left: 1px solid #eeeeee;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content input[type="text"] {
    width: 100%;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content td>label {
    display: block;
    font-weight: 500;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content span {
    font-size: 12px;
    display: block;
    margin: 0 0 5px 0;
    color: #8c8c8c;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content td ul li {
    display: inline-block;
    margin-right: 10px;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content td ul li input {
    margin-right: 5px;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .hiddenData {
    position: relative;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .hiddenData:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(247, 247, 247, 0.85);
    z-index: 2;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .hiddenData ::selection {
    background: transparent;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab {
    margin: 0;
    background: #ffffff;
    border-bottom: 1px solid #eeeeee;
    display: flex;
    vertical-align: top;
    position: relative;
    padding: 15px 0;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li {
    margin: 0;
    outline: none;
    margin-right: 5px;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li.active a,
.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li:hover a {
    background: #eeeeee;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li.active,
.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li:hover {
    border-color: #eeeeee;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li.active a:after {
    display: block;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li a {
    display: block;
    padding: 10px 15px;
    background: #ffffff;
    position: relative;
    outline: none;
    text-decoration: none;
    font-size: 13px;
    text-transform: capitalize;
    letter-spacing: 0px;
    font-weight: 500;
    color: #3c434a;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .absoute-swiper-nav-tab li a:focus {
    box-shadow: none;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection .tab-content {
    vertical-align: top;
    padding: 0;
}

.post-type-absolute_swiper .absoluteSwiperSettingsSection.wrap div.updated,
.post-type-absolute_swiper .absoluteSwiperSettingsSection.wrap .notice {
    margin: 5px -20px -19px;
}

.post-type-absolute_swiper .gallery-form-table {
    width: 100%;
    margin-bottom: 5px;
    overflow: hidden;
}

.post-type-absolute_swiper .gallery-form-table ul#gallery-metabox-list {
    margin: 0;
    font-size: 0;
}

.post-type-absolute_swiper .gallery-form-table ul#gallery-metabox-list li {
    display: inline-block;
    vertical-align: top;
    border: 1px solid #eeeeee;
    padding: 5px;
    margin: 3px 4px;
    background: #ffffff;
    cursor: move;
    width: auto;
    float: none;
    text-align: center;
}

.post-type-absolute_swiper .gallery-form-table ul#gallery-metabox-list li.ui-sortable-placeholder {
    min-height: 170px;
    border: 3px dashed #cccccc;
    visibility: visible !important;
}

.post-type-absolute_swiper .gallery-add span {
    margin: 4px 3px 0 -4px;
}

.post-type-absolute_swiper .actionButtons {
    text-align: center;
    margin-top: 5px;
}

.post-type-absolute_swiper .actionButtons .button {
    width: calc(50% - 4px);
    margin: 0 2px;
}

.post-type-absolute_swiper .actionButtons .remove-image {
    background: rgba(170, 0, 0, 0.65);
    border: 0;
    color: #ffffff;
}

.post-type-absolute_swiper .actionButtons .remove-image:hover {
    background: rgba(170, 0, 0, 0.75);
    color: #ffffff;
}

.post-type-absolute_swiper .actionButtons .remove-image .dashicons {
    vertical-align: middle;
}

.post-type-absolute_swiper .actionButtons .button.change-image {
    border-color: #cdcdcd;
}

.post-type-absolute_swiper #swiper-js-slider-settings .inside {
    margin: 0;
    padding: 0;
}

.post-type-absolute_swiper .addfooter {
    position: relative;
    padding: 10px 10px 0;
    border-top: 1px solid #eeeeee;
    margin: 10px -12px 0;
    text-align: right;
}

.post-type-absolute_swiper .gallery-form-table .noDataFound {
    text-align: center;
    display: none;
}

.post-type-absolute_swiper .addfooter .removeAll {
    float: left;
    background: rgba(170, 0, 0, 0.65);
    border: 0;
    color: #ffffff;
    line-height: 30px;
}

.post-type-absolute_swiper .addfooter .removeAll:hover,
.post-type-absolute_swiper .addfooter .removeAll:focus {
    background: rgba(170, 0, 0, 0.75);
    color: #ffffff;
}

.post-type-absolute_swiper .addfooter .removeAll .dashicons {
    vertical-align: middle;
    font-size: 18px;
}

.post-type-absolute_swiper .footerRight {
    position: relative;
    padding: 10px;
    border-top: 1px solid #eeeeee;
    margin: 0;
}

.post-type-absolute_swiper .footerRight ul li {
    vertical-align: middle;
}

.post-type-absolute_swiper .shortcodeWrap {
    padding: 10px;
    border: 1px solid #ececec;
    margin: 10px 0 0;
    background: rgba(238, 238, 238, 0.42)
}

.post-type-absolute_swiper .shortcodeWrap h4 {
    margin: 0 0 6px 0;
    font-size: 12px;
    font-weight: 500;
}

.post-type-absolute_swiper .shortcodeWrap input {
    font-size: 12px;
    font-weight: 500;
    padding: 5px;
}

.post-type-absolute_swiper .shortcodeWrap .copyData {
    display: block;
    text-align: right;
    font-size: 11px;
    margin: 5px 0 0 0;
}

.post-type-absolute_swiper .saveAll .dashicons {
    vertical-align: middle;
    font-size: 16px;
    margin: 2px 1px 0 0;
}

.post-type-absolute_swiper #poststuff .stuffbox>h3,
.post-type-absolute_swiper #poststuff h2,
.post-type-absolute_swiper #poststuff h3.hndle {
    background: #eee;
    color: #3c434a;
}


.post-type-absolute_swiper .shortcode.column-shortcode .copyData {
    display: block;
    text-align: left;
    font-size: 11px;
    margin: 5px 0 0 0;
}

.post-type-absolute_swiper .column-image {
    width: 85px !important;
}

.post-type-absolute_swiper .column-image .imgCount {
    display: block;
    text-align: center;
    border: 0;
    border-bottom: 0;
    background: #1f73d2;
    font-size: 11px;
    font-weight: 600;
    color: #ffffff;
    padding: 2px 0;
}

.post-type-absolute_swiper .column-image img {
    width: 100%;
    display: inherit;
}

.post-type-absolute_swiper .widefat td,
.post-type-absolute_swiper .widefat td ol,
.post-type-absolute_swiper .widefat td p,
.post-type-absolute_swiper .widefat td ul {
    vertical-align: middle;
}

.post-type-absolute_swiper .dtbl {
    display: table;
    width: 100%;
    margin: 0;
}

.post-type-absolute_swiper .dtbl li {
    display: table-cell;
}

.post-type-absolute_swiper .hidden {
    display: none;
}

.post-type-absolute_swiper .text-right {
    text-align: right;
}

#absolute-swiper-js-slider-postType label {
    display: inline-block;
    width: 140px;
    font-weight: 500;
}